body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.table-item {
  display: flex;
  padding: 20px;
  border: 2px solid black;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;

}

.table-item-btns {
  display: flex;
  height: 30px;
}

.table-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.table-filter {
  margin: 20px;
}